:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    /** box-sizing não deixa os elementos ultrapassarem
    */
    box-sizing: border-box;
}

body{
    background: #141414;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    /** Poder utilizar o flexbox
    */
    display: flex;
    flex-direction: row;
    /**Alinha na vertical */
    align-items: center;
    /**Alinha na Horizontal */
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: Arial; 
    font-size: 40px;
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*FILME PRINCIPAL*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa.jpeg');

    height: 400px;
    /*ADAPTAR TODO O ESPAÇO DA DIV*/
    background-size: cover;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo{
    margin-top:12% ;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 30px;
}